.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendar__weekday{
    font-weight: bold;
    text-align: center;
    background: #f0f0f0;
    padding: 4px 0;
}

.calendar__cells {
    height: 32px;
    text-align: center;
    background: #fff;
    border: 1px solid #eee;
    padding: 4px 0;
}

.calendar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 15px;
}

.calendar__title {
    width: 240px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.calendar__btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}